<% content_for :cal do %>
  <div class="container">
    <div class="row">
      <div class="threecol"><%= link_to "Archive", archive_path, :remote => true, :class => "yesterday_link" %></div>
      <div class="sixcol active">
        <%= link_to "Today", articles_path, :remote => true, :class => "today_link" %>
      </div>
    </div>
  </div>
<% end %>

<ul id="articles" class="articles">
  <%= render @articles %>
</ul>
<div class="readed_box">
  <h3>Recently read today:</h3>
  <ul id="readed_articles" class="articles">
    <%= render @readed_articles_today %>
  </ul>
</div>
