<% content_for :cal do %>
  <div class="container">
    <div class="row">
      <div class="threecol"><%= link_to "Yesterday", "/articles?day=yesterday", :remote => true %></div>
      <div class="sixcol"><%= link_to "Today", articles_path, :remote => true %></div>
      <div class="threecol last"><%= link_to "Tomorrow", "/articles?day=tomorrow", :remote=> true %></div>
    </div>
  </div>
<% end %>

<ul class="articles">
  <%= render @articles %>
</ul>
