<% content_for :stylesheets do %>
  .header { position: fixed; top:0; left: 0; right: 0; z-index: 100}
  .footer, .cal {display: none}
<% end %>

<div id="article-content">
  <h2><%= @article.title %></h2>
  <%=raw @result %>
  <!--
  <iframe src="<%= @article.link %>" width="100%" height="99%">
  </iframe>
  -->
</div>
