<h2>Well organized, noiseless reading with no harm for your productivity</h2>
<div id="loader">
  <div class="login-box">
    <span class="arrow_left">Start here</span>
    <span class="arrow_right">Start here</span>
    <div class="login_content">
      <%= form_for :session, :url => { :action => "password_check" }, :remote => true, :html => { :id => "session_form" } do |f| %>
        <div class="input">
          <%= f.text_field :email %>
          <button>Login</button>
        </div>
      <% end %>
    </div>
    <div class="password_content"></div>
  </div>
</div>

