<h3>Get rid of distractions and noise while reading.</h3>
<div class="divider"></div>
<div id="loader">
  <div class="col">
    <div class="title">
      <p>What</p>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet, est eget pellentesque imperdiet, magna orci volutpat nisl, eu pellentesque ligula dolor at velit. Maecenas dapibus, ipsum id dapibus elementum, tortor nunc volutpat leo, vel lobortis dolor massa vel arcu. Nullam nec orci ac neque condimentum suscipit. In sit amet mi vel libero vehicula tempor sit amet ut metus.</p>
  </div>
  <div class="col">
    <div class="title">
      <p>Why</p>
    </div>
    <p class="last">tiam a tristique erat. Vivamus fermentum urna ac ligula facilisis non consequat tellus scelerisque. Praesent sem nisl, pulvinar sit amet condimentum congue, commodo non dolor. </p>
  </div>
  <div class="divider"></div>
  <div class="login-box">
    <span class="arrow_left">Start here</span>
    <span class="arrow_right">Start here</span>
    <div class="login_content">
      <%= form_for :session, :url => { :action => "password_check" }, :remote => true, :html => { :id => "session_form" } do |f| %>
        <div class="input">
          <%= f.text_field :email %>
          <button>Login</button>
        </div>
      <% end %>
    </div>
    <div class="password_content"></div>
  </div>
</div>
