<h2>Finally, the non–disturbing reading ... and more.</h2>
<div class="divider"></div>
<div id="loader">
  <div class="info">
    <div class="col">
      <h3>Time</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquet, est eget pellentesque imperdiet, magna orci volutpat nisl, eu pellentesque ligula dolor at velit.</p>
    </div>
    <div class="col">
      <h3>Noise</h3>
      <p class="last">tiam a tristique erat. Vivamus fermentum urna ac ligula facilisis non consequat tellus scelerisque. Praesent sem nisl, pulvinar sit amet condimentum congue, commodo non dolor. </p>
    </div>
  </div>
  <div class="login-box">
    <span class="arrow_left">Start here</span>
    <span class="arrow_right">Start here</span>
    <div class="login_content">
      <%= form_for :session, :url => { :action => "password_check" }, :remote => true, :html => { :id => "session_form" } do |f| %>
        <div class="input">
          <%= f.text_field :email %>
          <button>Login</button>
        </div>
      <% end %>
    </div>
    <div class="password_content"></div>
  </div>
</div>
