<div class="left">
  <h1>Optimized domains</h1>
  <% @optimized_domains.each_slice(20) do |slice| %>
    <ul class="domains">
      <% slice.each do |domain| %>
        <li><%= link_to domain.name, edit_domain_path(domain) %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<div class="left">
  <h1>Not optimized domains</h1>
  <% @not_optimized_domains.each_slice(20) do |slice| %>
    <ul class="domains">
      <% slice.each do |domain| %>
        <li><%= link_to domain.name, edit_domain_path(domain) %></li>
      <% end %>
    </ul>
  <% end %>
</div>
