.articles
  list-style: none
  overflow: hidden
  li
    margin-bottom: 3.8%
    margin-left: 0
    .article
      height: 50px
      float: left
      padding: 5px
      border: 1px solid #999
      position: relative
      font-size: 11px
      width: 95%
    .favico
      float: left
      width: 16px
    .link
      margin-left: 20px
    .delete-article
      position: absolute
      top: 0
      right: 4px

.cal
  border-bottom: 1px solid #999
  height: 50px
  margin-bottom: 32px
  .today
    
