// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.articles
  list-style: none
  overflow: hidden
  margin-right: -20px
  li
    width: 218px
    height: 50px
    float: left
    padding: 5px
    border: 1px solid #999
    position: relative
    margin: 0 10px 10px 0
    font-size: 11px
    .favico
      float: left
      width: 16px
    .link
      margin-left: 20px
    .delete-article
      position: absolute
      top: 0
      right: 4px

