.articles
  list-style: none
  overflow: hidden
  li
    margin-bottom: 3.8%
    margin-left: 0
    &.article
      position: relative
    &.article-read
      opacity: 0.4
    .article_box
      padding-right: 20px
    .favico
      float: left
      width: 16px
      padding-top: 3px
    .link
      margin-left: 31px
      a
        text-decoration: none
        font-size: 16px
        &:hover
          text-decoration: underline
    .delete-article
      position: absolute
      top: 0
      left: 3px
      display: none

.overlay
  background: #fff
  opacity: 0.8
  position: absolute
  top: 45px
  bottom: 0
  left: 0
  right: 0
  z-index: 999

.timer
  position: absolute
  z-index: 999
  top: 50%
  left: 50%
  .timer-box
    background: #000
    color: #fff
    text-align: center
    margin-left: -120px
    margin-top: -110px
    padding: 20px
    width: 240px
    height: 110px
    -webkit-border-radius: 5px
    -moz-border-radius: 5px
    border-radius: 5px
  #fakeSeconds
    display: none
  .time
    font-family: lucida Grande, sans-serif
    font-size: 65px
  .timer_desc
    font-size: 12px

#article-iframe
  position: absolute
  top: 45px
  bottom: 0
  left: 0
  right: 0
#article-content
  width: 650px
  margin: 80px auto 0 auto
  color: #121212
  font-size: 1.125em
  line-height: 1.5em
  a
    text-decoration: none
    //color: #240581
  img
    margin-right: 15px
  blockquote
    margin-left: 25px
  //wikipedia
  .thumb, .quotebox
    font-size: 14px !important
    line-height: 22px
    color: #666
  .tleft
    float: left
    margin-right: 15px
  .tright
    float: right
    margin-left: 15px
  .magnify, .editsection, #jump-to-nav, #siteSub, .printfooter, #catlinks, .nowraplinks
    display: none
  #toc ul
    list-style: none
  table.wikitable
    font-size: 14px
    line-height: 22px
    th
      border-bottom: 1px solid #444
      margin-bottom: 10px
      padding-bottom: 10px
      padding-right: 10px
      font-weight: bold
    td
      border-bottom: 1px dotted #444
      margin-bottom: 10px
      padding-bottom: 10px
  //businessinsider
  #related-links
    display: none

  //thinkprogress
  .alignright
    float: right
  .tags, .post-navigation, #comments
    display: none

  //techcrunch
  .post-first-image
    float: left
  .module-crunchbase
    display: none
