a { color: #4E9EC4}

.header {
  background: #485056;
  margin: 0 0 36px;
  padding: 10px 0;
  height: 20px;
  color: #fff;
}

.nav {
  list-style: none;
  float: right;
  margin: 0;
}
.nav li {
  float: left;
}
.content {
  margin-bottom: 36px
}
.footer p {
  font-size: 10px;
}
