body.home
  .header
    background: none
    border: none
    height: 150px
    line-height: 150px
    padding-bottom: 20px
    border-bottom: 1px dashed #B3B3B3
    h1
      color: #333
      font-size: 92px
      font-family: "Georgia", serif
      font-weight: normal
      font-style: italic
      position: static
      text-align: center
      .r
        background: #FF3333
        color: #fff
        display: inline-block
        width: 92px
        height: 92px
        text-align: center
        line-height: 92px
        -webkit-border-radius: 92px
        -moz-border-radius: 92px
        border-radius: 92px

  .content
    overflow: hidden
    padding-top: 20px
    h3
      text-align: center
    .col
      float: left
      width: 50%
      .title
        text-align: center
        p
          background: #000
          color: #fff
          display: block
          height: 50px
          line-height: 50px
          margin: 0 auto 10px
          width: 50px
          -webkit-border-radius: 50px
          -moz-border-radius: 50px
          border-radius: 50px
      p
        margin-right: 10px
        &.last
          margin-right: 0
            
    .login-box
      text-align: center
      a
        font-size: 28px
        margin: 0 20px
        text-decoration: none
      span
        font-style: italic
        font-family: "Georgia", serif


  .divider
    border-bottom: 1px dashed #B3B3B3
    clear: both
    margin-bottom: 20px

  .center-text
    text-align: center

  #loader
    position: relative
